# vscode files
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# lock file
*.lock

# large files
results*

# hpc jobs
sh/
job_logs/

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# virtualenv
.venv
venv/
ENV/

# packaging
dist/