# vscode files
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# lock file
*.lock

# large files
results/*

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# virtualenv
.venv
venv/
ENV/